.header {
  margin: 38px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logotype h1 {
  font-size: 13px;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: 290px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav p {
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
}
