.container {
  width: 980px;
  margin: 0 auto;
}

.container h1 {
  font-family: "Comfortaa", sans-serif;
  font-size: 42px;
  margin-bottom: 22px;
  font-weight: 300;
}

.inputGroup {
  margin-top: 18px;

  display: flex;
  gap: 30px;
  align-items: center;
  font-family: "Comfortaa", sans-serif;
  outline: none;
}

.inputGroup:last-child {
  height: 0;
}

.inputGroup label {
  width: 110px;
}

.button {
  margin-top: 22px;
  width: 130px;
  text-align: center;
  font-family: "Comfortaa", sans-serif;
  background-color: transparent;
  border-radius: 22px;
  border: 0.3px solid grey;
  padding: 8px 10px;
}

.biotext {
  width: 240px;
  height: fit-content;
  font-family: "Comfortaa", sans-serif;
  font-size: 14px;
  height: 240px;
  user-select: none;
  background-color: transparent;
  border-radius: 18px;
  padding: 12px;
  outline: none;
}
